<%= simple_form_for([:admin, @recipe]) do |f| %>
  <%= render 'admin/errors', f: f, record: @recipe %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :notes %>
    <%= f.input :acknowledgements %>
    <%= f.input :featured_image, as: :file %>
    <%= f.association :user, label_method: :first_name %>
    <%= f.association :jewel %>
    <%= f.association :color_scheme %>
    <%= f.association :cuisines %>
    <%= f.association :meal_types %>
    <%= f.association :diets %>
    <%= f.association :seasons %>
    <%= f.association :occasions %>
    <%= f.association :pairings, collection: Recipe.all_except(@recipe) %>

    <h3>Ingredients</h3>
    <div class="ingredients" data-sortable="true">
      <%= f.simple_fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', f: ingredient %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add ingredient', f, :ingredients %>
      </div>
    </div>

    <h3>Procedure</h3>
    <div class="steps" data-sortable="true">
      <%= f.simple_fields_for :steps do |step| %>
        <%= render 'step_fields', f: step %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add step', f, :steps %>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
