<%= simple_form_for([:admin, @recipe]) do |f| %>
  <%= render 'admin/errors', f: f, record: @recipe %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :notes %>
    <%= f.input :acknowledgements %>
    <%= f.input :featured_image, as: :file %>
    <%= f.association :user, label_method: :first_name %>
    <%= f.association :jewel %>
    <%= f.association :color_scheme %>
    <%= f.association :cuisines %>
    <%= f.association :meal_types %>
    <%= f.association :diets %>
    <%= f.association :seasons %>
    <%= f.association :occasions %>
    <%= f.association :recipes, collection: Recipe.all_except(@recipe) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
