<%= render 'recipe_color_scheme_styles' %>

<%= simple_form_for(@recipe, html: { class: 'inline-input' }) do |f| %>
  <div class="container">
    <div class="row">

      <div class="user__actions margin-bottom-small">
        <div class="text-left">
          <%= link_to 'Cancel', edit_user_recipes_path(@recipe.user), class: 'button' %>
        </div>
        <div class="text-right">
          <%= f.button :submit, class: 'button', value: 'Save' %>
        </div>
      </div>

      <div class="title">Editing <%= @recipe.title.presence || 'your recipe' %></div>

      <div class="content-column text-center">
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :notes %>
        <%= f.input :acknowledgements %>
        <%= f.input :featured_image, as: :file %>
        <%= f.association :jewel %>
        <%= f.association :color_scheme %>
        <%= f.association :cuisines %>
        <%= f.association :meal_types %>
        <%= f.association :diets %>
        <%= f.association :seasons %>
        <%= f.association :occasions %>
        <%= f.association :pairings, collection: Recipe.all_except(@recipe) %>

        <div class="subtitle">Categories</div>

        <hr class="hr--dotted">
        <br>
        <br>
      </div>

      <div class="col-sm-4">
        <h3 class="subtitle">Ingredients</h3>
        <div data-sortable="true">
          <%= f.simple_fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', f: ingredient %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add ingredient', f, :ingredients %>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <h3 class="subtitle">Procedure</h3>
        <div class="margin-bottom-large" data-sortable="true">
          <%= f.simple_fields_for :steps do |step| %>
            <%= render 'step_fields', f: step %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add step', f, :steps %>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="text-right">
        <%= f.button :submit, class: 'button', value: 'Save' %>
      </div>
    </div>
  </div>


<% end %>
