<div class="row recipe--show__wrapper">
  <div class="recipe--show__content col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

    <%= content_tag(:h1, @recipe.title, class: 'recipe--show__title text-center bangla-regular__huge') %>

    <%= content_tag(:div, class: 'recipe--show__description patron-light__large text-center') do %>
      Originally posted by <%= @user.full_name %> on <%= full_date(@recipe.created_at) %>.
      <%#= @recipe.description if @recipe.description? %>
    <% end %>

    <hr class="hr--dotted">

    <div class="recipe--show__body patron-light__medium">
      <div class="recipe--show__ingredients-procedure-wrapper">
        <div class="row">
          <div class="recipe--show__ingredients col-sm-6">
            <h3 class="h3 subtitle">Ingredients</h3>
            <%= render partial: 'ingredient', collection: @recipe.ingredients %>
          </div>

          <div class="recipe--show__steps col-sm-6">
            <h3 class="h3 subtitle">Procedure</h3>
            <ol class="list-style--lower-roman">
              <%= render partial: 'step', collection: @recipe.steps %>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="recipe--show__notes patron-light__medium">
      <h3 class="h3 subtitle">Notes</h3>
      <%= @recipe.notes %>
    </div>

    <div class="recipe--show__acknowledgements patron-light__medium">
      <h3 class="h3 subtitle">Acknowledgements</h3>
      <%= @recipe.acknowledgements %>
    </div>

  </div>
</div>
