<%# Page Meta %>
<%= page_title(@recipe.title) %>
<%= page_description("#{@recipe.title} is a recipe by #{@recipe.user.full_name}. It was uploaded on #{full_date(@recipe.created_at)} and appears in #{@recipe.boxes.count} other boxes.") %>

<%# Color scheme unique to this recipe %>
<style type="text/css">
  .link--default {
    background: -webkit-linear-gradient(#fff, #fff),
    -webkit-linear-gradient(#fff, #fff),
    -webkit-linear-gradient(<%= @recipe.color %>, <%= @recipe.color %>);
  }
  .nav--primary__recipe-box-logo:hover {
    fill: <%= @recipe.color %>;
  }
</style>

<%# Recipe body %>
<div class="container">
  <div class="row recipe--show__wrapper" style="color: <%= @recipe.color %>">
    <div class="recipe--show__content col-sm-12">

      <%= render 'gem', recipe: @recipe %>

      <%= content_tag(:h1, @recipe.title, class: 'recipe--show__title text-center bangla-regular__huge') %>

      <%= content_tag(:div, class: 'recipe--show__image text-center') do %>
        <%= image_tag(@recipe.featured_image.url(:medium)) %>
      <% end if @recipe.featured_image.present? %>

      <%= content_tag(:div, class: 'recipe--show__intro patron-light__large text-center') do %>
        This is a <%= @recipe.diet_names %> recipe posted by <%= link_to(@user.name, user_path(@user), class: 'link--default') %>.
      <% end %>

      <%= content_tag(:div, class: 'recipe--show__description patron-light__medium') do %>
        <%= md @recipe.description %>
      <% end if @recipe.description? %>

      <div class="recipe--show__actions patron-medium__large line-height-normal row">
        <div class="recipe--show__actions__save col-sm-6">
          <%= link_to 'Save to your box', save_to_box_path, method: :post, remote: true %>
        </div>
        <div class="recipe--show__actions__print col-sm-6">
          <%= link_to('Print / Save as PDF', recipe_path(format: :pdf), class: 'link--blank') %>
        </div>
      </div>

      <hr class="hr--dotted">

      <div class="recipe--show__body patron-light__medium">
        <div class="recipe--show__ingredients-procedure-wrapper">
          <div class="row">
            <div class="recipe--show__ingredients col-sm-6">
              <h3 class="h3 subtitle">Ingredients</h3>
              <%= render partial: 'ingredient', collection: @recipe.ingredients %>
            </div>

            <div class="recipe--show__steps col-sm-6">
              <h3 class="h3 subtitle">Procedure</h3>
              <ol class="list-style--lower-roman">
                <%= render partial: 'step', collection: @recipe.steps %>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <%= content_tag(:div, class: 'recipe--show__notes patron-light__medium') do %>
        <h3 class="h3 subtitle">Notes</h3>
        <%= @recipe.notes %>
      <% end if @recipe.notes? %>

      <%= content_tag(:div, class: 'recipe--show__acknowledgements patron-light__medium') do %>
        <h3 class="h3 subtitle">Acknowledgements</h3>
        <%= @recipe.acknowledgements %>
      <% end if @recipe.acknowledgements? %>

    </div>
  </div>
</div>

<%# Recipe pairings %>
<% if @recipe.pairings.any? %>
  <div class="container-fluid">
    <div class="recipe--show__pairings row">
      <div class="recipe--show__pairings__left-column recipe--show__pairings__column text-center col-sm-4">
        <div class="recipe--show__pairings__left-column__inner col-sm-4">
          <div class="patron-regular__large">Suggested<br>pairings</div>
        </div>
      </div>
      <div class="recipe--show__pairings__right-column recipe--show__pairings__column patron-thin__large col-sm-8" <%= "data-carousel" if @pairings.count > 1 %>>
        <%= render partial: 'recipe', collection: @pairings, layout: 'pairing_layout' %>
      </div>
    </div>
  </div>
<% end %>

<%# Collected by users %>
<% if @recipe.collected? %>
  <% collected_limit = 3 %>
  <div class="recipe--show__collected-by patron-regular__medium text-center">
    <div class="container">
      <div class="col-sm-12">
        <h4 class="recipe--show__collected-by__title">This recipe has been collected by</h4>
        <% @recipe.boxes.first(collected_limit).each do |box| %>
          <div class="recipe--show__collected-by__user">
            <span class="recipe--show__collected-by__user__avatar">
              avatar
            </span>
            <%= link_to(box.user.full_name, box.user, class: 'recipe--show__collected-by__user__name') %>
          </div>
        <% end %>
        <%# TODO: Add javascript for this toggle, and fix the link color %>
        <% if @recipe.boxes.count > collected_limit %>
          <div class="recipe--show__collected-by__user__total-wrapper">
            and
            <span class="recipe--show__collected-by__user__total-count link">
              <%= @recipe.boxes.count %> others
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
