<div class="row">
  <%= simple_form_for(@user, html: { class: 'inline-input', data: { droppable_url: edit_user_path(@user) } }) do |f| %>

    <div class="col-sm-10 col-sm-offset-1">
      <div class="user-edit__actions text-left">
        <%= link_to('Cancel', user_path(@user), class: 'user-edit__cancel-recipe-button button') %>
        <%= f.button :submit, 'Save', class: 'user-edit__save-recipe-button button' %>
      </div>
    </div>

    <div class="content-column text-center">

      <%= content_tag(:h1, 'Edit your recipe box', class: 'user__edit__editing-title font__patron-medium__size__large') %>

      <div class="user__top-area row">
        <div class="col-sm-10 col-sm-offset-1 ibfix">
          <div class="user__avatar-wrapper">
            <div id="user__dropzone" class="user__avatar-inner" data-droppable>
              <% if @user.avatar.present? %>
              <% else %>
                <div class="user__edit__avatar-missing-message font__patron-light__size__large">
                  <%#= f.input :avatar, as: :file, label: false %>
                  <span class="user__edit__avatar-mising-message__text">Add an avatar</span>
                  <span class="user__edit__avatar-mising-message__text--hover">Click, or drag an image</span>
                </div>
              <% end %>
            </div>
          </div>
          <div class="user__name-location-wrapper text-left">
            <%= content_tag(:h1, class: 'font__patron-medium__size__large') do %>
              <%= f.input :first_name, label: false, placeholder: 'First name', autofocus: true %>
              <%= f.input :last_name, label: false, placeholder: 'Last name' %>
            <% end %>

            <%= content_tag(:h4, class: 'font__patron-light__size__medium') do %>
              <%= f.input :website, label: false, placeholder: 'Website' %>
              <%= f.input :location, label: false, placeholder: 'Location' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="user-edit__form-group">
        <div class="font__patron-medium__size__medium">Claim your url</div>
        <div class="font__patron-light__size__medium">
          <%= f.input :email, label: false, placeholder: 'Email' %>
          <%= f.input :slug, label: false, placeholder: 'url' %>
        </div>
      </div>

      <div class="user-edit__form-group">
        <div class="font__patron-medium__size__medium">Enter a message</div>
        <div class="font__patron-light__size__medium">
          <%= f.input :greeting, label: false, placeholder: 'Type a greeting for your box' %>
        </div>
      </div>

      <div class="user-edit__form-group">
        <%= f.simple_fields_for :box do |b| %>
          <%= b.input :background_color, as: :hidden %>
          <%= b.simple_fields_for :jewels do |j| %>
            <% Jewel.all.each do |jewel| %>
              <%= image_tag(jewel.image.url(:small)) %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="user-edit__form-group">
        <div class="font__patron-medium__size__medium user-edit__box-background-colors">
          <div class="user-edit__box-background-colors__label">Update the background color</div>
          <% @box_background_colors.each do |color| %>
            <%= content_tag(:div,
                            nil,
                            class: "user-edit__box-background-color #{'active' if @box.background_color == color}",
                            style: "background: #{color};",
                            data: { background_color: color } ) %>
          <% end %>
        </div>
      </div>

    </div>

  <% end %>
</div>
