<!DOCTYPE html>
<html>
<head>
  <title>RecipeBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @application_body_class %>">
  <div class="application-wrapper row">
    <%= content_for?(:header) ? yield(:header) : render('shared/nav_primary') %>
    <div class="application-content col-sm-12">
      <%= render 'shared/flash_messages' %>
      <%= content_for?(:application) ? yield(:application) : yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
